* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
body{
    height: 100vh;
    display: grid;
    grid-template-columns: min(40%,300px)  1fr;
    grid-template-rows: 1fr;
}
aside{
    background-color: blue;
    padding: 5rem 2rem;

}
aside #head{
position: relative;
margin-bottom: 1rem;
}
aside #head::after{
    content: '';
    height: .1em;
    width: 100%;
    background-color: grey;
    position: absolute;
    bottom: -10px;
    left: 0;
    
}
main{
    background-color: coral;
} 